
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgba(206, 184, 141, 0.707);
}
.Logo {
    display: block;
    margin: auto;
    margin-bottom: 25px;
    width: 50%;
    height: auto;
    width: 300px;
    border: 12px ridge;
    border-radius: 10px;
    border-color: #44a757;
}

.meal-pic {
    display: block;
    margin: 20px auto;
    width: 400px;
    border: 1px solid #42824e1f;
}

.block-main, .block-sub {
    background-color: rgb(236, 237, 237);
    max-width: 800px;
    margin: 0 auto 16px;
    border-top: 40px solid #44a757 ;
    border-radius: 10px;
    padding: 0 10px 2px;
}

.block-sub {
    border-top: 30px solid #44a757 ;
    border-radius: 10px;
}


h1 {
    font-size: 26px;
    text-align: center;
    margin: -35px 0 0;
}

h3 {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    margin: -25px 0 0;
}

li {
    margin: 0 0 10px;
}
.to-main-page {
    display: block;
    color: #425746;
    font-size: 16px;
    font-style: oblique;
    text-align: center;
}

.recipes {
    color: rgb(43, 43, 43);
    font-size: 17px;
    font-weight: bold;
}